SECRET_KEY=ElesTaoDiolhoEmNoisDaSilva
DEBUG=True

ALLOWED_HOSTS=127.0.0.1,localhost

USE_SQLITE=False

POSTGRES_DB=db-portal
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=postgres
DB_PORT=5432