SECRET_KEY=ElesTaoDiolhoEmNoisDaSilva
DEBUG=True

ALLOWED_HOSTS=127.0.0.1,localhost

USE_SQLITE=False

POSTGRES_DB=db-portal
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=postgres
DB_PORT=5432

# Configurações de E-mail
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=o-email@gmail.com
EMAIL_HOST_PASSWORD=senha-app-email